#textdomain wesnoth-knyght_CTF

# these are textdomains
# simply put, if you want your maps to be translated
# into other languages, then you add this
[textdomain]
    name="wesnoth-knyght_CTF"
    path="data/add-ons/knyght_CTF/translations"
[/textdomain]

#ifdef MULTIPLAYER
# indicate the binary path
# this will Wesnoth find your maps
# for the map_file= key
[binary_path]
    path=data/add-ons/knyght_CTF
[/binary_path]

{~add-ons/knyght_CTF/utilss}
# load the scenarios
{~add-ons/knyght_CTF/scenarios}
#endif